<!-- DESCRIPTION -->

<launch>

  <!-- <arg name="bag_dir" default="/media/kyle/45bfdd4b-6c7c-4d6a-a09d-21fbe576aa92/ColoRadarCalib/" /> -->
  <!-- <arg name="bag_file" default="calib0.bag" /> -->

  <!-- <rosparam> -->
    <!-- use_sim_time: true -->
  <!-- </rosparam> -->


  <!-- LAUNCH MIMO NODE -->
  <node pkg="dca1000_device" type="mimo_node" name="cascade_mimo_node">
    <param name="in_radar_topic" value="/cascade/data_cube" />
    <remap from="/fft_out" to="/cascade/heatmap" />
    <param name="num_azimuth_beams" value="128" />
    <param name="num_elevation_beams" value="32" /> <!--32-->
    <param name="antenna_config" value="$(find dca1000_device)/cfg/cascade/cascade_2243_antenna_cfg.txt" />
    <param name="remove_antenna_coupling" value="true" />
    <param name="coupling_calib_file" value="$(find ijrr_ground_truth)/configs/cascade_coupling.txt" />
    <param name="phase_freq_calib" value="true" />
    <param name="phase_calib_file" value="$(find dca1000_device)/cfg/cascade/cal_data.json" />
    <param name="collapse_doppler" value="true" />
    <param name="publish_pcl" value="false" />
  </node>
  
  <node pkg="dca1000_device" type="mimo_node" name="dca_mimo_node">
    <param name="in_radar_topic" value="/dca_node/data_cube" />
    <remap from="/fft_out" to="/dca_node/heatmap" />
    <param name="num_azimuth_beams" value="64" />
    <param name="num_elevation_beams" value="16" />
    <param name="antenna_config" value="$(find dca1000_device)/cfg/1843_antenna_cfg.txt" />
    <param name="remove_antenna_coupling" value="true" />
    <param name="coupling_calib_file" value="$(find ijrr_ground_truth)/configs/1843_coupling.txt" />
    <param name="phase_freq_calib" value="false" />
    <param name="phase_calib_file" value="" />
    <param name="collapse_doppler" value="true" />
    <param name="publish_pcl" value="false" />
  </node>

  <!-- START PLAYING BAG -->

  <!-- <node pkg="rosbag" type="play" name="player" args="-q clock pause $(arg bag_dir)$(arg bag_file)" /> -->

</launch>