<?xml version="1.0"?>
<launch>
	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="imu_viz_link" args="0 0 0 1.571 0 3.14159 imu_link_enu gx5_link"/> -->
	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="horiz_ouster_link" args="-0.1 -0.05 0.03 1.571 0 0 imu_link_enu os1_sensor"/> -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="os1_link_joint" args="0.0 0.0 0.03618 3.14159 0 0 os1_sensor os1_lidar"/>
	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_radar_joint" args="0 0 0 0 0 0 os1_sensor base_radar_link"/> -->
</launch>
