<?xml version="1.0" ?>
<launch>
    <arg name="output_bag_filename" default="/media/kyle/45bfdd4b-6c7c-4d6a-a09d-21fbe576aa92/mc_data/2_24_2021/odom/aspen_run11_odom.bag"/>
    <arg name="input_bag_filename" default="/media/kyle/45bfdd4b-6c7c-4d6a-a09d-21fbe576aa92/mc_data/2_24_2021/aspen_run11.bag"/>
    <arg name="input_bag_flags" default="--clock -k"/>
    <!-- For bags -->
	<param name="/use_sim_time" value="true"/>


    <node pkg="tf2_ros" type="static_transform_publisher" name="word_to_mocap" args="0.0 0.0 0.03618 3.14159 0 0 world motion_capture"/>



    <!-- Launch node -->
    <node pkg="ijrr_ground_truth" type="mocap_to_pose_in_world_frame.py" name="mocap_pose" output="screen"/>
    <!-- Launch recorder -->	
    <node pkg="rosbag" type="record" name="odom_recorder" output="screen" args="-O $(arg output_bag_filename) topics /motion_capture_ground_truth"/>

	<!-- Play Original -->
	<node pkg="rosbag" type="play" name="player" args="$(arg input_bag_flags) $(arg input_bag_filename)"/>

</launch>